html, body{
   margin:0;
   padding:0;
}
h1{
   text-align:center;
}
.btns{
   width:90vw;
   height:30px;
   font-size:18px;
   margin-left:5vw;
   margin-bottom:5vw;
}
.btns > *{
   float:left;
   width:30px;
   height:30px;
   background:#E6E6E6;
   border-radius:4px;
   text-align:center;
   line-height:30px;
   margin-right:10px;
   cursor:pointer;
   border:1px solid gray;
}
.records{
   width:90vw;
   height:30px;
   background:#E6E6E6;
   border-radius:4px;
   margin-bottom:10px;
   margin-left:5vw;
}
.recording{
   animation-name:rec;
   animation-duration:2s;
   animation-iteration-count:300;
}
@keyframes rec{
  0%   {color: red;}
  100% {color: #E6E6E6;}
}
