html, body{
   margin:0;
   padding:0;
}
.header{
   width:100vw;
   height:30px;
   background:#58ACFA;
   color:white;
   font:15px/30px Helvetica;
   padding-left:20px;
   box-sizing:border-box;
}
.btns{
   width:100vw;
   height:50px;
   background:gray;
   position:fixed;
   bottom:0;
}
button{
   width:50px;
   height:50px;
   background:red;
   border-radius:50%;
   margin-left:calc(50vw - 25px);
   cursor:pointer;
   outline:none;
}
:focus{
   outline:none;
}
::-moz-focus-inner{
   border:0;
}

button:focus { 
    outline: none; 
}

#records{
   width:100vw;
   height:calc(100vh - 80px);
   overflow-y:scroll;
   padding-top:15px;
   padding-left:15px;
   padding-right:15px;
   box-sizing:border-box;
}
audio{
   display:block;
   width:100%;
   border-radius:15px;
   margin-bottom:5px;
}
